<div class="dashboard">

  <app-header></app-header>

  <div class="container p-0 mt-5 pb-4">
  <div class="dashboard-main"> 
      <div class="container p--4 pb-4">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 pb-2">
              <div class="search">
              <input type="text" class="w-100 input" placeholder="Enter a search keyword">
              <span class="fa fa-search"></span>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 pb-2">
              <div class="select-dropdown">
                <select class="rounded-0">
                  <option value="Option 1">Active status</option>
                  <option value="Option 2">2nd Option</option>
                  <option value="Option 3">Option Number 3</option>
                </select>
              </div>
            </div>
            <div class="col-2">

            </div>
            <div class="col-2">

            </div>
            <div class="col-3 text-end">
              <button class="btn button">Create Server</button>
            </div>
          </div>
        </div>

        <div class="table-border">
            <div class="w-100 py-3">
              <div class="text-end w-100 padding-end result">
                <img src="../../../../../assets/images/PDF.svg" class="file-icon">
                <img src="../../../../../assets/images/xls.svg" class="file-icon">
                <span class="text">Showing 10 of 5000 Entries</span>
              </div>
            </div>
          <div class="table-responsive">
          <table class="table">
            <thead class="thead-lighter">
              <tr>
                <th  style="min-width:106px">SN</th>
                <th  style="min-width:156px">SERVER NAME</th>
                <th  style="min-width:106px">IP ADDRESS</th>
                <th  style="min-width:106px">CPU(%)</th>
                <th  style="min-width:106px">MEMORY(%)</th>
                <th  style="min-width:106px">STORAGE(%)</th>
                <th  style="min-width:156px">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1 <span class="fa fa-check bg-success rounded-circle ml-0 my-0 m-3" aria-hidden="true"></span></th>
                <td>Server name goes here</td>
                <td  class="">IP address goes here</td>
                <td>124</td>
                <td>323</td>
                <td>234</td>
                <td class="">
                  <button class="btn button mr-5">Edit</button>
                  <span class="fa fa-ellipsis-v my-0 py-0 mx-4" aria-hidden="true"></span>
                </td>
              </tr>

              <tr>
                <th scope="row">1 <span class="fa fa-check bg-success rounded-circle ml-0 my-0 m-3" aria-hidden="true"></span></th>
                <td>Server name goes here</td>
                <td  class="">IP address goes here</td>
                <td>124</td>
                <td>323</td>
                <td>234</td>
                <td class="">
                  <button class="btn button mr-5">Edit</button>
                  <span class="fa fa-ellipsis-v my-0 py-0 mx-4" aria-hidden="true"></span>
                </td>
              </tr>
              <tr>
                <th scope="row">1 <span class="fa fa-check bg-success rounded-circle ml-0 my-0 m-3" aria-hidden="true"></span></th>
                <td>Server name goes here</td>
                <td  class="">IP address goes here</td>
                <td>124</td>
                <td>323</td>
                <td>234</td>
                <td class="">
                  <button class="btn button mr-5">Edit</button>
                  <span class="fa fa-ellipsis-v my-0 py-0 mx-4" aria-hidden="true"></span>
                </td>
              </tr>

              <tr>
                <th scope="row">1 <span class="fa fa-check bg-success rounded-circle ml-0 my-0 m-3" aria-hidden="true"></span></th>
                <td>Server name goes here</td>
                <td  class="">IP address goes here</td>
                <td>124</td>
                <td>323</td>
                <td>234</td>
                <td class="">
                  <button class="btn button mr-5">Edit</button>
                  <span class="fa fa-ellipsis-v my-0 py-0 mx-4" aria-hidden="true"></span>
                </td>
              </tr>

              <tr>
                <th scope="row">1 <span class="fa fa-check bg-success rounded-circle ml-0 my-0 m-3" aria-hidden="true"></span></th>
                <td>Server name goes here</td>
                <td  class="">IP address goes here</td>
                <td>124</td>
                <td>323</td>
                <td>234</td>
                <td class="">
                  <button class="btn button mr-5">Edit</button>
                  <span class="fa fa-ellipsis-v my-0 py-0 mx-4" aria-hidden="true"></span>
                </td>
              </tr>
            </tbody>
          </table>
          </div>

          <div class="paginations">
            <nav aria-label="Page navigation mt-4">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link border-0" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link bg-success1 rounded-circle" href="#">1</a></li>
              <li class="page-item"><a class="page-link border-0" href="#">2</a></li>
              <li class="page-item"><a class="page-link border-0" href="#">3</a></li>
              <li class="page-item"><a class="page-link border-0" href="#">4</a></li>
              <li class="page-item"><a class="page-link border-0" href="#">...</a></li>
              <li class="page-item"><a class="page-link border-0" href="#">1539</a></li>

              <li class="page-item">
                <a class="page-link border-0" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
        </div>

      </div>
    </div>

  </div>
