/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
  background-color: #F1F3F5;
  box-sizing: border-box;
  margin:0px;
  -webkit-font-smoothing: antialiased;
}

