<div class="card">
  <div class="card-header bg-white border-0">Application Status</div>
  <div class="card-body">
    <div class="row">
       <div class="col-4 text-center">
         <div class="val1 mb-2">10</div>
        <span>All</span>
      </div>
       <div class="col-4 text-center">
          <div class="val2 mb-2">6</div>
        <span>Available</span>
      </div>
       <div class="col-4 text-center">
            <div class="val3 mb-2">4</div>
          <span>Critical</span>
       </div>
    </div>
  </div>
</div>
